<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated unifilar290922 -->
      <package
            uri="http://www.example.org/unifilar290922"
            class="unifilar290922.Unifilar290922Package"
            genModel="model/unifilar290922.genmodel"/>
   </extension>

</plugin>
